main {
	@extend %mainResponsive;
	
	section {
		margin-top: 20px;

		article {
			margin-bottom: 20px;
	
			h2 {
				@extend %responsiveh2;
			} // cierra h2

			ul {
				@extend %ulResponsive;

				li {
					@extend %liResponsive;
				} // cierra li
			} // cierra ul

			p {
				@extend %parrafosResponsive;
			} // cierra p
		} // cierra article
	} // cierra section
} // cierra main


@media screen and (min-width: 1025px) {
	main {
		width: 70%;

		section {
			@include sectionWeb (flex, space-between);
			
			article {
				width: 30%;

				h2 {
					@include webh2 (2rem, left, 10px 5px);
					
				} // cierra h2

				ul {
					@include ulWeb (left, 0 5px);

					li {
						font-size: 1.2rem;

					} // cierra li
				} // cierra ul

				p {
					font-size: 1.2rem;
					padding: 0 5px;
				} // cierra p
			} // cierra article

			article.personajes {
				@include claseArticulo (5px dotted $rojo, 15px);
				
			} // cierra .personajes

			article.casting {
				@include claseArticulo (5px dotted $verde, 15px);

			} // cierra .casting
		} // cierra section
	} // cierra main
}
